name: π” Celuveat frontend DEV CD π”

on:
  push:
    branches:
      - develop-frontend
    paths:
      - 'frontend/**'

jobs:
  deploy-frontend:
    runs-on: self-hosted

    steps:
      - name: π” .env νμΌ μ„Έν…
        run: |
          touch ~/frontend-env/.env
          echo GOOGLE_MAP_API_KEY=${{ secrets.GOOGLE_MAP_API_KEY }} >> ~/frontend-env/.env

      - name: π” Run Frontend Deploy Script
        run: |
          cd ~
          sudo sh deploy-frontend.sh
