name: π” Celuveat frontend DEV CD π”

on:
  push:
    branches:
      - develop-frontend
      - develop-frontend2

    paths:
      - 'frontend/**'

jobs:
  deploy-frontend:
    runs-on: [self-hosted, dev]

    steps:
      - name: π” .env νμΌ μ„Έν…
        run: |
          touch ~/frontend-env/.env
          echo GOOGLE_MAP_API_KEY=${{ secrets.GOOGLE_MAP_API_KEY }} > ~/frontend-env/.env
          echo BASE_URL=${{ secrets.DEV_BASE_URL }} >> ~/frontend-env/.env
      - name: π” Run Frontend Deploy Script
        run: |
          cd ~
          sudo sh deploy-frontend.sh
